@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/fonts.scss';


.api-alert{
  width: 80%;
  background-color: $lighter-gray-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:2rem auto;

  svg{
    width: calc(50px + 10vw);
    height: calc(50px + 10vw);
  }
  h1{
    font-size: $largest-fonts;
  }
  p{
    font-size: $large-fonts;
    font-weight: 400;
    width: 280px;
    text-align: center;
  }
}