@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";

.procedure-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .procedure-bg {
    position: absolute;
    top: -50px;
    right: 0;
    width: 10%;
    z-index: 1;
  }

  h1 {
    margin: 8rem 0 4rem 0;
    font-size: $x-larger-fonts;
    font-weight: 500;
    position: relative;
    z-index: 2;
  }

  .procedure-cards-cont {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10%;
    margin: auto;
    position: relative;
    z-index: 2;

    .procedure-card {
      padding: 5rem 1.5rem 3rem 1.5rem;
      background-color: $dark-green-color;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
      text-align: center;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;

      img {
        position: absolute;
        top: -50px;
      }

      h4 {
        color: $btn-green-color;
        font-size: $large-fonts;
      }

      p {
        color: $lighter-gray-color;
        font-size: $card-desc-font;
        font-weight: 300;
        line-height: 1.4;
      }
    }
  }
}
