:root {
  --card-skeleton-color: rgba(25, 47, 81, 0.1);
}

.large-bar {
  width: 100%;
}
.medium-bar {
  width: 90%;
}
.small-bar {
  width: 80%;
}
.input-bar {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .small-bar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
  }
  .medium-bar {
    height: 100%;
    width: 60px;
  }
}

.large-bar,
.medium-bar,
.small-bar,
.input-bar {
  background-color: var(--card-skeleton-color);
  animation: 1s fading ease-in-out infinite;
}

.card-skeleton {
  width: 100%;
  height: 350px;
  background-color: var(--card-skeleton-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 0.5rem;

  .large-bar {
    height: 150px;
    margin-bottom: 1rem;
  }
  .medium-bar {
    height: 20px;
    margin-bottom: 0.8rem;
  }
  .small-bar {
    height: 15px;
  }
}

.hm-skeleton-cont {
  width: 80%;
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto auto;
  column-gap: 2.5%;
}

.list-skeleton-cont {
  width: 80%;
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vw;
}

.fileters-skeleton {
  width: 80%;
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto auto;
  column-gap: 2rem;
}
.details-skeleton {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  grid-gap: 2rem;
  .details-skeleton-img {
    height: 100%;
    .large-bar {
      height: calc(100% - 1.6rem);
      margin: 0.8rem 0;
    }
  }
  .details-skeleton-desc {
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.8rem;
    .large-bar {
      height: 30px;
      margin: 1rem 0;
    }
    .medium-bar {
      height: 18px;
    }
  }
}

.myrent-skeleton {
  width: 80%;
  display: grid;
  margin: auto;
  grid-template-columns: 2fr 1fr;
  column-gap: 1.5rem;
  .rent-list-skeleton {
    display: grid;
    row-gap: 1rem;

    .rent-card-skeleton {
      width: calc(100% - 2rem);
      padding: 1rem;
      height: 50px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--card-skeleton-color);
      .large-bar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .medium-bar {
        width: 40%;
        height: 40px;
      }
      .small-bar {
        width: 70px;
        height: 30px;
        border-radius: 5px;
      }
    }
  }
  .rent-desc-skeleton{
    background-color: var(--card-skeleton-color);
    height: calc(100% - 2rem);
    padding-bottom: 2rem;

    .large-bar {
      height: 150px;
      margin-bottom: 2rem;
    }
    .small-bar {
      height: 15px;
      margin: 0 0 0.5rem 5% ;
    }
    .medium-bar {
      margin-bottom: 1rem;
      height: 20px;
      margin-left: 5%;
    }
  }
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .hm-skeleton-cont {
    .card-skeleton:nth-child(4) {
      display: none;
    }
    grid-template-columns: auto auto auto;
  }
  .list-skeleton-cont {
    grid-template-columns: auto auto auto;
    grid-gap: 3vw;
  }
  .fileters-skeleton {
    grid-template-columns: auto auto;
    .input-bar:nth-child(3) {
      display: none;
    }
    .input-bar:nth-child(4) {
      display: none;
    }
  }
}
@media (max-width: 820px) {
  .details-skeleton {
    grid-template-columns: auto;
    grid-gap: 1rem;
    .details-skeleton-img {
      height: 400px;
    }
    .details-skeleton-desc {
      row-gap: 0.5rem;
      .large-bar {
        height: 25px;
        margin: 0.8rem 0;
      }
      .medium-bar {
        height: 15px;
      }
    }
  }

  .myrent-skeleton{
    grid-template-columns: auto;
    .rent-desc-skeleton{
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .hm-skeleton-cont,
  .list-skeleton-cont,
  .details-skeleton,
  .fileters-skeleton,.myrent-skeleton {
    width: 90%;
    column-gap: 1rem;
  }
}

@media (max-width: 600px) {
  .card-skeleton {
    height: 300px;
    div:nth-child(1) {
      height: 120px;
    }
  }
  .hm-skeleton-cont {
    .card-skeleton:nth-child(3) {
      display: none;
    }
    grid-template-columns: auto auto;
  }
  .list-skeleton-cont {
    grid-template-columns: auto auto;
    grid-gap: 4vw;
  }

  .fileters-skeleton {
    grid-template-columns: auto;
    .input-bar:nth-child(2) {
      display: none;
    }
  }
}
