@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";

.tractor-card {
  width: calc(100% - 2rem);
  border: 1px $btn-green-color solid;
  // padding: 2rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1rem;
  overflow: hidden;

  img {
    width: 100%;
    // max-height: 180px;
  }

  h4 {
    font-size: $large-fonts;
    width: calc(100% - 2rem);
  }

  p {
    font-size: $card-desc-font;
    font-weight: 400;
    line-height: 1.4;
    width: calc(100% - 2rem);
  }

  small {
    font-size: $medium-fonts;
    font-weight: 500;
    color: $btn-green-color;
   text-align: center;
   margin-bottom: 2rem;
   width: calc(100% - 2rem);
  }
}

.procedure-card {
  padding: 5rem 1.5rem 3rem 1.5rem;
  background-color: $dark-green-color;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;

  img {
    position: absolute;
    top: -50px;
  }

  h4 {
    color: $btn-green-color;
    font-size: $large-fonts;
  }

  p {
    color: $lighter-gray-color;
    font-size: $card-desc-font;
    font-weight: 300;
    line-height: 1.4;
  }
}