$white-color:#fff;
$lighter-gray-color:#fafbfa;
$gray-color: #d1d1d1;
$btn-green-color:#abbc41;
$light-green-color:#eef6ef;
$dark-blue-color: #192f51;
$dark-green-color: #192f51;
$light-blue-color: #192f51;
$yellow-color:rgb(255, 184, 0);

// $btn-green-color:#abbc41;
// $light-green-color:#eef6ef;
// $dark-blue-color: #1F675E;