$white-color:#fff;
$lighter-gray-color:#fafbfa;
$gray-color: #d1d1d1;
$btn-green-color:#abbc41;
$light-green-color:#eef6ef;
$dark-blue-color: #193d51;
$dark-green-color: #1f675e;


// $btn-green-color:#3ac47d;
// $light-green-color:#eef6ef;
// $dark-blue-color: #1F675E;