@import './colors.scss';
@import './fonts.scss';

.hero-cont {
  width: 100%;
  margin-top: 100px;
  position: relative;
  z-index: 2;

  .hero-bg {
    position: absolute;
    top: -180px;
    left: 0;
    width: 40%;
    height: 150px;
    z-index: 1;
  }
  .hero-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5%;
  
    .hero-desc {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
  
      h1 {
        font-size: $largest-fonts;
        font-weight: 500;
  
        span {
          font-size: $larger-fonts;
        }
      }
  
      p {
        font-size: $paragraph-font;
        line-height: 1.5;
      }
  
      button {
        margin-top: 1rem;
        width: 150px;
        height: 40px;
      }
    }
  
    .hero-img {
      width: calc(500px + 60vw);
  
      img {
        width: 100%;
      }
    }
  }
}

.procedure-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .procedure-bg {
    position: absolute;
    top: -50px;
    right: 0;
    width: 10%;
    z-index: 1;
  }

  h1 {
    margin: 8rem 0 4rem 0;
    font-size: $x-larger-fonts;
    font-weight: 500;
    position: relative;
    z-index: 2;
  }

  .procedure-cards-cont {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10%;
    margin: auto;
    position: relative;
    z-index: 2;
  }
}

.popular-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .popular-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    z-index: 1;
  }

  h1 {
    margin: 8rem 0 4rem 0;
    font-size: $x-larger-fonts;
    font-weight: 500;
    position: relative;
    z-index: 2;
  }

  .popular-cards-cont {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px auto;
    grid-gap: 2rem;
    margin: auto;
    padding-bottom: 4rem;
    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 2;

    .popular-arrow {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background-color: $lighter-gray-color;
      padding-left: 2rem;
      display: flex;
      align-items: center;
    }
  }
}